
# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
indent_style = space
indent_size = 2

end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

max_line_length = off

[*.{diff,md}]
trim_trailing_whitespace = false
indent_size = 4

[Makefile]
indent_style = tab

[CHANGELOG.md]
indent_size = false
