fastapi
python-dotenv
python-jose
python-multipart
pydantic==1.10.11
sentence-transformers
sse-starlette
tiktoken
torch>=2.0
transformers==4.35.0
transformers_stream_generator==0.0.4
uvicorn
sentencepiece
accelerate>=0.20.3

# for QWen model
einops
scipy
peft
deepspeed

# for Stable Diffusion
diffusers
invisible_watermark
safetensors

# for whisper models
openai-whisper

# # for funsar
# modelscope
# funasr
# torchaudio
